<div class="container-fluid">
  <div class="row">
    <div class="col-2 px-0 bg-dark text-white">
      <div class="px-3 border-bottom">
      <h5>Design Pattern TD</h5>
      </div>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#introduction">Introduction</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#strategy-pattern">Strategy Pattern</a>
        </li>
      </ul>
    </div>
    <div class="col-10">
      <h3 class="text-primary">Strategy Pattern</h3>
      <div class="row p-2">
        <div class="col-9">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Tortor at auctor urna nunc. Eu consequat ac felis donec et odio pellentesque diam volutpat. Elementum eu facilisis
            sed odio morbi quis commodo odio. Gravida arcu ac tortor dignissim convallis aenean et. Amet mattis vulputate enim
            nulla aliquet porttitor lacus luctus accumsan. Lectus arcu bibendum at varius vel pharetra. Magna sit amet purus gravida
            quis. Nec ullamcorper sit amet risus nullam eget. Mattis pellentesque id nibh tortor id aliquet. Amet luctus venenatis
            lectus magna. Libero volutpat sed cras ornare arcu dui vivamus arcu. Tincidunt eget nullam non nisi est sit amet facilisis.
            Est ullamcorper eget nulla facilisi etiam dignissim diam quis. Orci porta non pulvinar neque laoreet suspendisse interdum
            consectetur libero. Bibendum est ultricies integer quis auctor elit sed vulputate mi.
          </p>
          <pre class="p-2"><code class="typescript">public j: number = 5;
j = j++;
console.log(j);</code></pre>
        </div>
        <div class="col-3 align-content-center">
          <div id="game" class="border w-100 mb-2 rounded"></div>
          <button class="btn btn-block btn-danger" (click)="killDude()">Kill Guy</button>
          <button class="btn btn-block btn-success" (click)="reviveDude()">Revive Guy</button>
        </div>
      </div>
      <div class="alert alert-info mt-2">
        <span>
          <i class="fa fa-info-circle mr-2"></i>This is a small important piece of information!</span>
      </div>
    </div>
  </div>
</div>